<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Match Movie{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">🎬 MovieMatch</a>
            <a href="/" class="oceniaj">Oceń filmy</a>
            <a href="/" class="oceniaj">Logowanie</a>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <p>&copy; 2026 Twoja Aplikacja Filmowa</p>
    </footer>
</body>
</html>